Fichiers_Projet/qualite-de-lair-dans-le-reseau-de-transport-francilien.csv
# Environnement virtuel Python
.venv/
venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers de logs
*.log

# Données locales (tu peux adapter selon ton projet)
data/raw/
data/processed/

# Système et éditeurs
.DS_Store
Thumbs.db
.vscode/
